<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sport week</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
            <div>
              <nav class="navbar navbar-expand-sm bg-light" style="padding-left:130px;">
                <p class="navbar-text" style="font-size: 40px; margin-top: 0px;">NCTU Sports</p>
                     <ul class="nav navbar-nav" style="margin-top: 5px;">
                    <li><a href="/">首頁</a></li>
                    <li><a href="/evenlist">活動報名</a></li>
                    <li><a href="/eventstatus">報名狀況</a></li>
                    <li><a href="/login">登出</a></li>
                  </ul>
            </nav>
            </div>

      