<%- include header %>
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th><%= data[0].ename %></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><%=data[0].rule%></td>
                  </tr>
                </tbody>
              </table>
<%- include footer %>